<table class="table table-bordered">
	<% @char.each do |k,v| %>
	<% if k == 'stats' or k == 'talents'; next; end %>
	<tr>
		<td><%= k %></td>
		<td><% if k == 'thumbnail' %><img src="<%= @thumb %><%= v %>" /><% else %><%= v %><% end %></td>
	</tr>
	<% end %>
</table>

<table class="table table-bordered">
	<% @stats.each do |k,v| %>
	<tr>
		<td><%= k %></td>
		<td><%= v %></td>
	</tr>
	<% end %>
</table>

<table class="table table-bordered">
	<% @talents.each do |k,v| %>
	<tr>
		<td><%= k %></td>
		<td><%= v %></td>
	</tr>
	<% end %>
</table>